input[type = "text"], input[type = "email"], input[type = "tel"], textarea{
    border: 3px solid #45b63f;
    border-radius: 10px;
}
input[type = "text"]:hover, input[type = "email"]:hover, input[type = "tel"]:hover, textarea:hover{
    background-color: #9ddd99;
}