{% include "administrativo/administrativo.html" %}

<html>
    <head>
        <title>Nueva Factura</title>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/formulario.css')}}">
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/formulario_añadir.css')}}">
        <h1>Nueva Factura</h1>
    </head>
    <body>
        <form method="POST">
            <table>
                <tr>
                    <td><b>Paciente:</b></td>
                    <td>
                        <select name="paciente">
                        {% for paciente in pacientes %}
                            <option value = "{{paciente['_id']}}"> {{paciente['nombre']}} {{paciente['apellidos']}} ({{paciente['dni']}})  </option>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><b>Factura:</b></td>
                    <td><input type="file" name="archivo"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpiar">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

{% include "footer.html" %}