{% include "psiquiatra/psiquiatra.html" %}
<html>
    <head>
        <title>Nuevo medicamento</title>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/formulario.css')}}">
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/formulario_añadir.css')}}">
        <h1>Nuevo medicamento</h1>
    </head>
    <body>
        <form method="POST">
            <table>
                <tr>
                    <td><b>Medicamento:</b></td>
                    <td><input type="text" name="medicamento"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpiar">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
{% include "footer.html" %}